<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{TITLE}}</title>
  <meta name="description" content="{{DESCRIPTION}}">
  <meta name="robots" content="index,follow">
  <link rel="canonical" href="{{CANONICAL_PATH}}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Dzung9fBook">
  <meta property="og:title" content="{{TITLE}}">
  <meta property="og:description" content="{{DESCRIPTION}}">
  <meta property="og:url" content="{{CANONICAL_PATH}}">
  <meta property="og:image" content="./assets/images/hero-banner.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{TITLE}}">
  <meta name="twitter:description" content="{{DESCRIPTION}}">
  <meta name="twitter:image" content="./assets/images/hero-banner.png">
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="./assets/css/app.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&family=Spectral:wght@500;600;700&display=swap"
    rel="stylesheet">
  {{EXTRA_HEAD}}
</head>

<body id="top" {{BODY_ATTRIBUTES}}>
  {{HEADER}}
  <div class="site-notice" data-site-notice hidden></div>
  {{MAIN}}
  {{FOOTER}}
  {{SCRIPTS}}
</body>

</html>
